  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* distribute items evenly */
    padding: 10px; /* some padding around */
  }

  nav a {
    color: #065210; /* link color */
    padding: 10px 15px; /* padding around links */
    border-radius: 4px; /* slightly rounded corners */
    font-weight:bold;
  }

  nav a:hover {
    background-color: #065210; /* hover background color */
    color: #fff; /* hover text color */
  }