/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    width: 100%;
  
    background-color: #fff5b4;
    color: #001269;
    font: normal 18px/1.5 "Helvetica", Arial, sans-serif;
    font-weight: 600;
}